<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Perfil</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>
<body>
    <div class="container" id="perfil">
        <h2>Meu Perfil</h2>
        <img src="profile-icon.png" alt="Perfil" class="profile-icon">
        <input type="text" placeholder="Nome">
        <button class="btn">Salvar</button>
        <nav>
            <a href="index.html">Voltar para Home</a>
        </nav>
    </div>

    <script src="{% static 'js/script.js'%}"></script>
</body>
</html>
